@charset "utf-8";



body{
	
	background-color: #F4EFEA;
}

#navbarNav ul li a{
    color: #2E4157;
    font-size: 12pt;
    padding-left: 15px;
    padding-top: 30px;
	font-family: "DM Serif Text", serif;
}

#navbarNav ul{
    
	display:flex;
    margin-left: auto;
	justify-content: flex-end;
}

.navbar-toggler {
    margin-left: auto; 
	}

footer{
	
	color:#2E4157; 
	font-family: "DM Serif Text", serif;
}

.custom-carousel {
            max-width: 800px; 
            margin: 0 auto; 
        }
        .custom-carousel img {
            width: 100%;
            height: auto;
        }
.linea5{
    margin-top: 30px;
    margin-left: 12px;
}
   
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding-top: 12px;
        }
@media (max-width: 992px) {
    .hamburguesa-linea {
        display: none;
    }
}
.biblioteca-historia p{
    font-size: 10pt;
}

.biblioteca-historia{
    margin-top: 37px;	
}


  .margen-superior {
    margin-top: 87px; 
    margin-bottom: -26px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
.margen-superior1 {
    margin-top: 43px; 
    margin-bottom: 52px;
  }

@font-face {
  font-family: 'arround';
  src: url('../font/allrounder-monument-book.otf') format('truetype');
}

.font-arround {
  font-family: 'arround';
}
h6{
	
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
	
	font-family: "Lato", sans-serif;
  
  font-style: normal;
}
#servicios{
	background-image: url("../images/Hoja1.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	
}
#contacto{
	background-image: url("../images/Hoja1.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	
}
.img-thumbnail{
  max-width: 105%;
  max-height: 90%;
  height: 210px;
  width: 175px;
  padding: 15px;
  padding-bottom:10px;
  padding-top: 15px;
  object-fit: cover;
  object-position: center;
  border-style: solid;
  border: transparent;
  border-width: 10px;
  background: url("../images/cuadro.png") no-repeat center center;
  background-size: cover;
}